{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        
    </div>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    
    <label for="uploaded_pic">Choose file to upload</label>
  
    <input id="uploaded_pic" type="file" name="profile_pic" accept=".jpg, .jpeg, .png" />
    <input type="text" name="uploaded_picture" id="uploaded_picture" />
    
<p id="b65", name="b64"></p>
<img id="img2" height="150"/>   
<button type="submit" class="btn btn-primary">Submit</button>

    
</form>

<script>
    function readFile() {
    
    if (this.files && this.files[0]) {
      
      var FR= new FileReader();
      
      FR.addEventListener("load", function(e) {
        document.getElementById("img2").src       = e.target.result;
        document.getElementById("b65").innerHTML = e.target.result;
        x=sessionStorage.setItem("imagedata2", e.target.result);
        document.getElementById("uploaded_picture").value = e.target.result;
        console.log(document.getElementById("uploaded_picture").value)
  
  
      }); 
      
      FR.readAsDataURL( this.files[0] );
    }
    
  }
  
  document.getElementById("uploaded_pic").addEventListener("change", readFile);
  
  </script>

{% endblock %}
