{% extends "base.html" %}
{% block title %}Register System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}


<form action="" method="post" enctype="multipart/form-data">
  <label for="profile_pic">Choose file to upload</label>

  <input id="profile_pic" type="file" name="profile_pic" accept=".jpg, .jpeg, .png" />
  <input hidden type="text" name="profile_picture" id="profile_picture" >

  
  <p id="b64", name="b64"></p>
  <img id="img" height="150"/>

  
    


    <div class="form-group">
        <label for="Fullname">Full name</label>
        <input name="fullname" class="form-control" id="inputFullName" aria-describedby="emailHelp" placeholder="Enter full name">
        <small id="fullName" class="form-text text-muted">Please enter your full name(First name and Last name)</small>
  </div>
  <div class="form-group">
        <label for="InputEmail">Email address</label>
        <input name="email" class="form-control" id="InputEmail"  placeholder="Enter email">
        
  </div>
  <div class="form-group">
    <label for="InputPassword">Password</label>
    <input type="password" name="password1" class="form-control" id="InputPassword" placeholder="Password">
  </div>

    <div class="form-group">
    <label for="InputPassword2">Repeat Password</label>
    <input type="password" name="password2" class="form-control" id="InputPassword2" placeholder="Repeat Password">

    </div>
    

     

        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="phone" name="phone" class="form-control" id="phone" placeholder="Enter Phone">
      
          </div>
          <p>Category</p>
        <fieldset>
            <div class="form-group">
              <input type="radio" class="radio" name="category" value="admin" id="category" />
              <label for="Male">admin</label>
              <input type="radio" class="radio" name="category" value="user" id="category" />
              <label for="Female">user</label>
            </div>

      
  <button type="submit" class="btn btn-primary">Submit</button>


</form>

<script>
  function readFile() {
  
  if (this.files && this.files[0]) {
    
    var FR= new FileReader();
    
    FR.addEventListener("load", function(e) {
      document.getElementById("img").src       = e.target.result;
      document.getElementById("b64").innerHTML = e.target.result;
      x=sessionStorage.setItem("imagedata", e.target.result);
      document.getElementById("profile_picture").value = e.target.result;
      console.log(x)


    }); 
    
    FR.readAsDataURL( this.files[0] );
  }
  
}

document.getElementById("profile_pic").addEventListener("change", readFile);

</script>



{% endblock %}

