{% extends "base.html" %}
{% block title %}Youv'e logged in {% endblock %}

{% block content %}
<p>Hello You have Logged in as {{ email }}</p>

<form action="" method="post" enctype="multipart/form-data">
    <!-- <input type="text", name="nothing", id="nothing", value="p"> -->
    <button type="submit" class="btn btn-primary">Click to get your images</button>
</form>



{% for url in users3 %}
    <img src={{ url }} height="480">
{% endfor %}


{% endblock %}